@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap"); /*M PLUS Rounded 1c* 500 weigth regular*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap"); /*roboto 300 weight italic light*/
@import url("https://fonts.cdnfonts.com/css/jsmath-cmti10"); /*jsMath-cmti10*/
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap"); /*playball*/
@import url("https://fonts.cdnfonts.com/css/christmas-bell-personal-use"); /*Christmas bell*/
@import url("https://fonts.cdnfonts.com/css/home-christmas"); /*Home Christmas*/
@import url("https://fonts.cdnfonts.com/css/gotham"); /*Gotham*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap"); /*bitter*/
@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap"); /*pridi*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: overlay;
}

.turn {
  display: none;
}
.turn p {
  color: #fff;
  font-size: 8vw;
  text-transform: capitalize;
}

#bigo {
  width: 70%;
  height: auto;
  margin-bottom: 10%;
  animation: shakeyourbooty 2.5s ease-in-out infinite;
}

@keyframes shakeyourbooty {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(6deg);
  }
  20%, 40%, 60% {
    transform: rotate(-8deg);
  }
  30%, 50%, 70% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  90% {
    transform: rotate(6deg);
  }
}
@media only screen and (orientation: portrait) {
  .turn {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #201D1D;
    z-index: 999;
  }
  .turn p {
    font-family: "Gotham", sans-serif;
  }
}
@media only screen and (orientation: landscape) {
  .turn {
    display: none;
  }
}
.btnhover {
  transition: transform ease-in-out 0.3s;
  cursor: pointer;
}
.btnhover:hover {
  transform: scale(1.2, 1.2);
}

::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.322);
  -webkit-backdrop-filter: blur(5.5px);
}

::-webkit-scrollbar-thumb {
  background-image: url(./../img/scrollbar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 42px;
}

.headershow {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 0%;
  z-index: 999;
  transition: all ease-in-out 0.5s;
}
.headershow #navcroix {
  width: 3vw;
  position: absolute;
  z-index: 5;
  margin-left: 92%;
  margin-top: 2%;
  cursor: pointer;
}
.headershow #navlogo {
  width: 100%;
  position: relative;
  bottom: -7%;
}
.headershow .full {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.headershow .full ul {
  list-style: none;
  z-index: 1;
  text-align: center;
  margin-top: 8vw;
}
.headershow .full ul li {
  transition: all ease-in-out 0.3s;
}
.headershow .full ul li:not(:last-child) {
  margin-bottom: 8vh;
}
.headershow .full ul li:hover {
  transform: scale(1.1, 1.1);
}
.headershow .full ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Home Christmas";
  font-size: 6vw;
  margin: 0;
  font-weight: 400;
}

.headershow1 {
  transition: all ease-in-out 0.5s;
  height: 100% !important;
}

.snap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  box-sizing: border-box;
  overflow: scroll;
  position: absolute;
  right: 0;
}
.snap::-webkit-scrollbar {
  display: none;
}
.snap .snap-element {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.snap .snap-element:nth-child(1) {
  background: #1d1e21;
}
.snap .snap-element:nth-child(2) {
  background: #ee6620;
}
.snap .snap-element:nth-child(3) {
  background: #777ba0;
}
.snap .snap-element:nth-child(4) {
  background: #da1e62;
}

body ::-webkit-scrollbar {
  opacity: 0;
}
body main .section-position {
  width: 2vw;
  height: 2vw;
  margin: 15%;
  border-radius: 50%;
  background-color: white;
}
body main .section-position-container {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 9;
}
body main .recette {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body main #navpoint {
  position: fixed;
  right: 1.5vw;
  height: 15vh;
  z-index: 999;
  top: 42.5vh;
}
body main #navpoint circle:focus {
  fill: #564D45 !important;
}
@media only screen and (orientation: portrait) {
  body main #navpoint {
    display: none;
  }
}
body main #recette1 {
  background: linear-gradient(180deg, #4D45AC 0%, #231A89 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 20% 1fr;
}
body main #recette1 h1 {
  font-family: "Home Christmas";
  font-size: 7vw;
  margin: 0;
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: inline-grid;
  grid-row-start: 2;
  grid-column: 1/span 3;
  align-self: center;
  justify-self: center;
}
body main #recette1 #openmenu {
  position: absolute;
  width: 5%;
  margin-top: 3%;
  margin-left: 90%;
}
body main #recette1 #logo {
  display: inline-grid;
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  width: 4vw;
}
body main #recette1 #star-left {
  display: inline-grid;
  grid-row: 2;
  grid-column: 1;
  width: 30vw;
  justify-self: end;
  align-self: center;
}
body main #recette1 #star-right {
  display: inline-grid;
  grid-column: 3;
  grid-row: 1;
  width: 18vw;
  justify-self: start;
  align-self: end;
}
body main #recette2 {
  background: rgb(212, 185, 161);
  background-image: url(./../img/backgroundrecette2.png);
  display: grid;
  grid-template-columns: 1fr 45% 1fr;
  grid-template-rows: 60% 1fr;
}
body main #recette2 h2 {
  position: relative;
  font-family: "Christmas Bell - Personal Use";
  font-style: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 7vw;
  font-weight: 400;
  margin: 0;
  color: #564D45;
  display: inline-grid;
  justify-self: center;
  align-self: start;
  grid-column: 1/span 3;
  grid-row: 1;
  top: 15%;
}
body main #recette2 .biscuit {
  display: inline-grid;
  position: relative;
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  width: 65%;
  top: 5vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette2 .recette2-txt {
  display: inline-grid;
  justify-self: center;
  align-self: end;
  grid-column: 2;
  grid-row: 1;
  width: 80%;
  margin-left: 6%;
}
body main #recette2 .recette2-txt .cadretitre {
  background-image: url(./../img/cadretitre.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 14%;
  left: -1%;
  width: 40%;
  height: 109%;
}
body main #recette2 .recette2-txt .cadretitre h3 {
  color: #564d45;
  height: 70%;
  position: relative;
  font-family: Playball;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1.5;
  margin: 0;
  bottom: 12%;
  left: 10%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
body main #recette2 .recette2-txt .cadre {
  width: 78%;
  background-color: #ebd7c6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 120%;
  left: -2%;
  border-radius: 2vw;
  bottom: -6%;
}
body main #recette2 .recette2-txt .cadre ul {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #564D45;
  position: relative;
  font-family: Playball;
  font-style: normal;
  font-weight: 400;
  font-size: 1.35vw;
  line-height: 1.5;
  margin: 0px;
  top: 5%;
  left: 4%;
}
body main #recette2 .recette2-txt2 {
  width: 77%;
  display: inline-grid;
  align-self: center;
  justify-self: center;
  grid-column: 1/span 3;
  grid-row: 2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette2 .recette2-txt2 .cadretitre2 {
  left: 1%;
  position: relative;
  width: 100%;
  bottom: 33%;
  height: 113%;
  background-image: url(./../img/cadretitre.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
body main #recette2 .recette2-txt2 .cadretitre2 h3 {
  color: #564d45;
  position: relative;
  font-family: Playball;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1.5;
  margin: 0;
  left: 2%;
  bottom: 9%;
}
body main #recette2 .recette2-txt2 .cadre2 {
  height: 90%;
  width: 100%;
  position: relative;
  bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #ebd7c6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2vw;
  padding: 1%;
}
body main #recette2 .recette2-txt2 .cadre2 ol {
  color: #564d45;
  position: relative;
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 1.2;
  margin: 0;
  left: 2%;
  height: 18vh;
  width: 100%;
}
body main #recette2 .recette2-txt2 .cadre2 ol li:not(:last-child) {
  margin-bottom: 2%;
}
body main #recette2 .recette2-txt2 .cadre2 .recette2-0l1 {
  display: auto;
}
body main #recette2 .recette2-txt2 .cadre2 .recette2-0l2 {
  display: none;
}
body main #recette2 .recette2-txt2 .cadre2 #btnrecette2 {
  position: relative;
  width: 7%;
  right: 17%;
  top: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette2 .recette2-txt2 .cadre2 #btnrecette2_1 {
  position: relative;
  width: 7%;
  right: 4%;
  top: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette3 {
  background: #83b489;
  background-image: url(./../img/backgroundrecette3.svg);
  display: grid;
  grid-template-columns: 1fr 65%;
  grid-template-rows: 1fr 80%;
}
body main #recette3 h2 {
  position: relative;
  font-family: "Christmas Bell - Personal Use";
  font-style: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 7vw;
  font-weight: 400;
  margin: 0;
  color: #fbda86;
  display: inline-grid;
  justify-self: center;
  align-self: center;
  grid-column: 1/span 3;
  grid-row: 1;
}
body main #recette3 #recette3-sapin {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: inline-grid;
  position: absolute;
  width: 18vw;
  height: 28vh;
  margin-top: 4%;
  margin-left: 15%;
}
body main #recette3 .recette3-txt {
  background-image: url(./../img/recette3-cadre1.svg);
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-grid;
  grid-area: 2/2/span 3/auto;
  position: relative;
  place-self: center start;
  height: 90%;
  width: 60%;
  left: 9%;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
}
body main #recette3 .recette3-txt .recette3-txt1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  width: 70%;
  height: 70%;
  position: relative;
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 1;
  margin: 0;
  top: 12%;
  left: 12%;
  right: 12%;
  padding-inline-start: 1.7vw;
}
body main #recette3 .recette3-txt .recette3-txt1 .recette3-0l1 {
  display: auto;
}
body main #recette3 .recette3-txt .recette3-txt1 .recette3-0l2 {
  display: none;
}
body main #recette3 .recette3-txt .recette3-txt1 li {
  margin-bottom: 5%;
}
body main #recette3 .recette3-txt #recette3-txt-hide {
  display: none;
}
body main #recette3 .recette3-txt #recette3-btn {
  position: absolute;
  width: 12%;
  bottom: 14%;
  right: 14%;
}
body main #recette3 .recette3-txt #recette3-btn_1 {
  position: absolute;
  width: 12%;
  bottom: 14%;
  right: 29%;
}
body main #recette3 .recette3-txt-left {
  background-image: url(./../img/recette3-cadre2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 37vw 71vh;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette3 .recette3-txt-left .recette3-txt3 {
  width: 49%;
  position: relative;
  padding: 5% 7% 5% 7%;
  height: fit-content;
  transform: rotate(358deg);
}
body main #recette3 .recette3-txt-left .recette3-txt3 h3 {
  margin: 0 0 5% 0;
  color: #fff;
  position: relative;
  font-family: "Playball";
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 1.5;
}
body main #recette3 .recette3-txt-left .recette3-txt3 ul {
  color: #fff;
  position: relative;
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.5;
  margin: 0;
  padding-inline-start: 1vw;
}
body main #recette4 {
  background: rgb(178, 227, 242);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}
body main #recette4 .up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(./../img/backgroundrecette4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1;
  grid-row: 1;
  background-position: center top;
}
body main #recette4 .up h2 {
  position: relative;
  font-family: "Christmas Bell - Personal Use";
  font-style: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 7vw;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  display: inline-grid;
  justify-self: center;
  align-self: end;
}
body main #recette4 .up .floco {
  width: 70%;
  grid-column: 1;
  grid-row: 2;
  display: inline-grid;
  justify-self: center;
  align-self: end;
}
body main #recette4 .up .recette4-h3 {
  grid-area: 3/1/auto/auto;
  background-image: url(./../img/cadretitre.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  display: inline-grid;
  width: 80%;
  height: 53%;
  place-self: end center;
}
body main #recette4 .up .recette4-h3 h3 {
  color: rgb(86, 77, 69);
  position: relative;
  font-family: Playball;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  width: 100%;
  bottom: 10%;
}
body main #recette4 .up .igloo {
  display: inline-grid;
  grid-column: 2;
  grid-row: 2/span 3;
  justify-self: start;
  align-self: end;
  width: 85%;
}
body main #recette4 .down {
  grid-column: 1;
  grid-row: 2;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body main #recette4 .down .recette4-txt {
  background-color: #FAFAFA;
  border-radius: 2vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 85%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #recette4 .down .recette4-txt ul {
  color: #564d45;
  position: relative;
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 1.5;
  margin: 0;
}
body main #recette4 .down .recette4-txt ol {
  color: #564d45;
  position: relative;
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 1.25;
  margin: 0;
  padding: 5%;
  height: 79%;
  width: 79%;
}
body main #recette4 .down .recette4-txt ol .recette4-0l1 {
  display: auto;
}
body main #recette4 .down .recette4-txt ol .recette4-0l2 {
  display: none;
}
body main #recette4 .down .recette4-txt ol li {
  margin-bottom: 5%;
}
body main #recette4 .down .recette4-txt ol li :last-child {
  margin-bottom: 0;
}
body main #recette4 .down .recette4-btn {
  width: 5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette4 .down .recette4-btn_1 {
  width: 5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette5 {
  background: rgb(223, 177, 136);
  background-image: url(./../img/backgroundrecette5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr;
}
body main #recette5 h2 {
  position: relative;
  font-family: "Christmas Bell - Personal Use";
  font-style: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 7vw;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  display: inline-grid;
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  align-self: end;
}
body main #recette5 .ingredients {
  width: 70%;
  display: inline-grid;
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  align-self: center;
}
body main #recette5 .ingredients #ingredientcadre {
  width: 45%;
  z-index: 5;
}
body main #recette5 .ingredients .jsp #recette5txt {
  transition: all ease-in-out 0.5s;
  background-color: #ffd773;
  width: 0;
  height: 14vw;
  position: absolute;
  margin: -15.6% 0% 0% 15%;
  z-index: 0;
}
body main #recette5 .ingredients .jsp #recette5txt ul {
  transition-delay: 0.3s;
  position: absolute;
  margin: 3% 0% 0% 0%;
  color: #564d45;
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 1.5;
  display: none;
  padding: 5% 5% 0 20%;
}
body main #recette5 .ingredients .jsp .recette5visible {
  display: block !important;
}
body main #recette5 .ingredients .jsp .changewidth {
  width: 18vw !important;
}
body main #recette5 .ingredients .jsp #recette5fleche {
  transition: all ease-in-out 0.5s;
  position: absolute;
  height: 5.2vw;
  margin: -11% 0% 0% 15.2%;
  cursor: pointer;
}
body main #recette5 .ingredients .jsp .btntranslate {
  margin: -11% 0% 0% 32.8% !important;
}
body main #recette5 .preparation {
  width: 69%;
  height: 72%;
  display: inline-grid;
  grid-column: 2;
  grid-row: 2;
  position: relative;
  top: 10%;
  justify-self: start;
  align-self: start;
}
body main #recette5 .preparation .recette5h3 {
  background-image: url(./../img/cadretitrerecette5.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  width: 45%;
  bottom: 10%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
body main #recette5 .preparation .recette5h3 h3 {
  position: relative;
  font-family: Playball;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1.5;
  margin: 0;
  color: #564D45;
  bottom: 25%;
}
body main #recette5 .preparation .txtprepa5 {
  width: 99%;
  background-color: #fff;
  border-radius: 2vw;
  padding: 4%;
  box-shadow: 1.5vw 3.5vh 0px 0px #ffd773;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette5 .preparation .txtprepa5 ol {
  color: #564d45;
  position: relative;
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vw;
  line-height: 1.5;
  margin: 0;
}
body main #recette5 .preparation .txtprepa5 ol li {
  margin-bottom: 1%;
}
body main #recette5 .preparation .txtprepa5 ol li :last-child {
  margin-bottom: 0;
}
body main #recette5 .preparation .txtprepa5 #recette5btn {
  width: 14%;
  position: relative;
  left: 63%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body main #recette5 .preparation .txtprepa5 #recette5btn1 {
  width: 14%;
  position: relative;
  left: 67%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.piece {
  position: relative;
  width: 100%;
  height: 100vh;
}

.piece1 {
  background-image: url(/img/piece1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.piece1 .menu {
  position: absolute;
  width: 10vw;
  height: fit-content;
  transform: rotate(-23.97deg);
  margin-top: 42vh;
  margin-left: 4.6vw;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}
.piece1 .menu p {
  font-size: 3vw;
  font-family: "Pridi", serif;
  color: #162053;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.piece1 .menu p:hover {
  transform: scale(1.1, 1.1);
}
.piece1 .bignav420 {
  font-size: 3vw !important;
}
.piece1 #title {
  position: absolute;
  z-index: 5;
  width: 71vw;
  margin-left: 15.5vw;
  margin-top: 40vh;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.piece1 #piece1ampoule {
  position: absolute;
  width: 9vw;
  margin-top: 41vh;
  margin-left: 4vw;
}
.piece1 #piece1ampouleeffect {
  position: absolute;
  width: 9vw;
  margin-top: 41vh;
  margin-left: 4vw;
  z-index: 1;
  animation: ampouleeffect 3s ease 0s infinite normal forwards;
}

.piece2 {
  background-image: url(/img/piece2.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.piece2 .piece2popup {
  position: absolute;
  z-index: 999;
  width: 20%;
  margin-top: 47vh;
  display: none;
  transition: all 0.4s;
}
.piece2 .piece2popup h3 {
  position: absolute;
  font-family: "Bitter", serif;
  color: #2D6C27;
  font-style: normal;
  font-size: 1.4vw;
  font-weight: 700;
  margin-left: 51%;
}
.piece2 .piece2popup svg {
  position: absolute;
  width: 3vw;
  margin-left: 65%;
  margin-top: 21%;
  animation: bouncefleche 2.5s ease-in-out 0s infinite normal forwards;
}
.piece2 .piece2popup button {
  position: absolute;
  font-family: "Bitter", serif;
  background-color: #F65A5A;
  border: none;
  font-size: 1vw;
  width: 9vw;
  height: 4vh;
  margin-top: 42%;
  color: white;
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}
.piece2 .piece2popup button:hover {
  transform: scale(0.9, 0.9);
}
.piece2 .piece2popup img {
  width: 100%;
  position: absolute;
}
.piece2 .ampoule {
  width: 100%;
  position: absolute;
}
.piece2 .bouffe {
  margin-top: 73.5vh;
  z-index: 2;
  position: absolute;
}
.piece2 .lutin {
  z-index: 3;
  position: absolute;
}
.piece2 #close {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.piece2 #popupsable {
  margin-left: 19vw;
}
.piece2 #popuptartine {
  margin-left: 28vw;
}
.piece2 #popuptartine h3 {
  font-size: 1.3vw;
  margin-left: 49%;
}
.piece2 #popupflocon {
  margin-left: 38vw;
}
.piece2 #popupflocon h3 {
  font-size: 1.3vw;
  margin-left: 46%;
}
.piece2 #popupflocon svg {
  margin-left: 64%;
}
.piece2 #popuptruffe {
  margin-left: 45.5vw;
}
.piece2 #popuptruffe h3 {
  font-size: 1.25vw;
  margin-left: 46%;
}
.piece2 #popuptruffe svg {
  margin-left: 64%;
}
.piece2 #popuplivre {
  margin-top: 8vh;
  display: none;
  margin-left: 36vw;
  width: 22vw;
}
.piece2 #popuplivre button {
  margin-left: 31%;
  margin-top: 42%;
}
.piece2 #popuplivre h3 {
  margin-left: 5%;
  font-size: 1.1vw;
}
.piece2 #popuplivre h3 span:nth-child(1) {
  color: #109CEB;
}
.piece2 #popuplivre h3 span:nth-child(2) {
  color: #EB9310;
}
.piece2 #popuplivre p {
  color: #465049;
  font-size: 0.8vw;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  position: absolute;
  margin-top: 19%;
  text-align: center;
  padding: 0 5% 0 5%;
}
.piece2 #biscuit {
  width: 2vw;
  margin-left: 17.2vw;
  transform: rotate(45deg);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.piece2 #biscuit:hover {
  transform: scale(1.2, 1.2) rotate(45deg);
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece2 #tartine {
  margin-left: 25vw;
  width: 4vw;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.piece2 #tartine:hover {
  transform: scale(1.2, 1.2);
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece2 #flocon {
  margin-left: 34vw;
  width: 5vw;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.piece2 #flocon:hover {
  transform: scale(1.2, 1.2);
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece2 #truffe {
  margin-left: 43.5vw;
  width: 3vw;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.piece2 #truffe:hover {
  transform: scale(1.2, 1.2);
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece2 #ampouleeffect {
  z-index: 1;
  animation: ampouleeffect 3s ease 0s infinite normal forwards;
}
.piece2 #livre {
  position: absolute;
  z-index: 5;
  margin: 36.5vh 0vw 0vh 37.8vw;
  width: 17.5vw;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.piece2 #livre:hover {
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece2 #demilutin {
  width: 4vw;
  margin-top: 51.9vh;
  margin-left: 26vw;
  animation: demilutin 2s linear 0s infinite normal forwards;
}
.piece2 #demilutineffect {
  width: 4vw;
  margin-top: 51.9vh;
  margin-left: 26vw;
  animation: lutineffect 2s linear 0s infinite normal forwards;
}
.piece2 #lutin {
  width: 5.5vw;
  margin-top: 65.1vh;
  margin-left: 87vw;
  animation: lutin 2s linear 0s infinite normal forwards;
}
.piece2 #lutineffect {
  width: 5.5vw;
  margin-top: 65vh;
  margin-left: 87vw;
  animation: lutineffect 2s linear 0s infinite normal forwards;
}
.piece2 #divbougie1 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-top: 68vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 21.5vw;
}
.piece2 #divbougie2 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-top: 68vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30.5vw;
}
.piece2 #divbougie3 {
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-top: 68vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 38.5vw;
}

.bougie {
  width: 3vw;
}

.bougieeffect {
  position: absolute;
  margin-top: -16%;
  width: 1.5vw;
  animation: bougieeffect 3s ease 0s infinite normal forwards;
}

.piece4 {
  background-color: yellow;
}

.piece3 {
  background-image: url(/img/piece3.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.piece3 .infinite-scroll {
  position: absolute;
  z-index: 2;
  margin-top: 72vh;
  margin-left: 57vw;
  width: 25vw;
}
.piece3 .infinite-scroll #cadeau1 {
  width: 100%;
}
.piece3 .ampoule {
  position: absolute;
  width: 100%;
}
.piece3 .lutin {
  z-index: 3;
  position: absolute;
}
.piece3 .popuprecette3 {
  position: absolute;
  width: 35vw;
  height: 45vh;
  background: linear-gradient(180deg, #A43835 0%, #6A150F 100%);
  border-radius: 1vw;
  z-index: 999;
  margin-top: 9%;
  margin-left: 18%;
  display: none;
}
.piece3 .popuprecette3 img {
  position: absolute;
  width: 40%;
  margin-top: 11%;
  margin-left: 8%;
}
.piece3 .popuprecette3 span {
  position: absolute;
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-left: 53%;
  margin-top: 5%;
}
.piece3 .popuprecette3 span h3 {
  font-family: "jsMath-cmti10";
  font-style: italic;
  font-weight: 500;
  font-size: 2.2vw;
  color: #ffb700;
  text-shadow: 0px 0.5vh 3.59246px rgba(0, 0, 0, 0.35);
  width: fit-content;
}
.piece3 .popuprecette3 span h3:first-child {
  margin-right: 5%;
}
.piece3 .popuprecette3 p {
  position: absolute;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  width: 44%;
  color: snow;
  margin-top: 20%;
  margin-left: 53%;
  text-shadow: 0px 0.2vh 3.59246px rgba(0, 0, 0, 0.25);
}
.piece3 .popuprecette3 button {
  position: absolute;
  width: 20%;
  height: 14%;
  margin-left: 70%;
  margin-top: 44%;
  font-family: "Bitter";
  font-style: normal;
  font-weight: 800;
  font-size: 1.2vw;
  background: linear-gradient(180deg, #F6D98D 0%, #FFB700 100%);
  color: #731A15;
  border: 0;
  box-shadow: 0px 0.2vw 0.1vw rgba(0, 0, 0, 0.35);
  border-radius: 0.8vw;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.piece3 .popuprecette3 button:hover {
  transform: scale(1.1, 1.1);
}
.piece3 .popuprecette3 #neige1 {
  position: absolute;
  width: 60%;
  margin-top: -5%;
  margin-left: -3.7%;
  z-index: 10;
}
.piece3 .popuprecette3 #neige2 {
  position: absolute;
  width: 37%;
  margin-top: 50%;
  margin-left: -4.3%;
  z-index: 10;
}
.piece3 .popuprecette3 .croix {
  position: absolute;
  z-index: 10;
  margin-left: 93%;
  margin-top: 3%;
  width: 3%;
  height: fit-content;
  cursor: pointer;
}
.piece3 #close1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
.piece3 #canard {
  position: absolute;
  width: 3.3vw;
  z-index: 99;
  margin-left: 29vw;
  margin-top: 76vh;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.piece3 #canard:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece3 #fusee {
  position: absolute;
  width: 2.8vw;
  z-index: 99;
  margin-left: 23vw;
  margin-top: 73vh;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.piece3 #fusee:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece3 #nounours {
  position: absolute;
  width: 3.5vw;
  z-index: 99;
  margin-left: 19vw;
  margin-top: 69vh;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.piece3 #nounours:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw 0.1vh 5px #F8FD00) drop-shadow(-0.1vw -0.1vh 5px #F8FD00) drop-shadow(0.1vw -0.1vh 5px #F8FD00);
}
.piece3 #demilutin1 {
  width: 5vw;
  margin-top: 57.3vh;
  margin-left: 29vw;
  animation: demilutin 2s linear 0s infinite normal forwards;
}
.piece3 #demilutineffect1 {
  width: 5vw;
  margin-top: 57.3vh;
  margin-left: 29vw;
  animation: lutineffect 2s linear 0s infinite normal forwards;
}
.piece3 #demilutin2 {
  width: 4.9vw;
  margin-top: 56.5vh;
  margin-left: 54vw;
  animation: demilutin 2s linear 0s infinite normal forwards;
}
.piece3 #demilutineffect2 {
  width: 4.9vw;
  margin-top: 56.5vh;
  margin-left: 54vw;
  animation: lutineffect 2s linear 0s infinite normal forwards;
}
.piece3 #start {
  position: absolute;
  z-index: 5;
  margin-left: 91vw;
  margin-top: 79.2vh;
  width: 2.2vw;
  cursor: pointer;
}
.piece3 #stop {
  position: absolute;
  z-index: 5;
  margin-left: 91vw;
  margin-top: 72.2vh;
  width: 2.2vw;
  cursor: pointer;
}
.piece3 #entreecadeau {
  position: absolute;
  z-index: 10;
  margin-left: 55vw;
  margin-top: 71vh;
  width: 4vw;
}
.piece3 #gifteffect {
  position: absolute;
  width: 16.8vw;
  opacity: 0;
  z-index: 5;
  margin-top: 50.9vh;
  margin-left: 59.5vw;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.piece3 #gifteffect:hover {
  opacity: 0.8;
}
.piece3 #ampouleeffect {
  z-index: 1;
  animation: ampouleeffect 3s ease 0s infinite normal forwards;
}
.piece3 #popuprecette3fusee {
  margin-left: 24%;
  margin-top: 10%;
}
.piece3 #popuprecette3canard {
  margin-left: 30%;
  margin-top: 12%;
}
.piece3 #popuprecette3canard button {
  margin-top: 49%;
}

.piece4 {
  background-image: url(/img/piece4.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.piece4 .ampoule {
  position: absolute;
  width: 100%;
}
.piece4 #ampouleeffect {
  z-index: 1;
  animation: ampouleeffect 3s ease infinite;
}
.piece4 #perenoel {
  position: absolute;
  z-index: 5;
  width: 16.5vw;
  margin-top: 49vh;
  margin-left: 38vw;
}

@keyframes glow {
  0% {
    filter: none;
  }
  10%, 50% {
    filter: drop-shadow(0px 0px 0.4vw #fff) drop-shadow(0px 0px 0.4vw #614ad3);
  }
  51%, 70% {
    filter: drop-shadow(0px 0px 0.8vw #fff) drop-shadow(0px 0px 0.8vw #614ad3);
  }
  70%, 75% {
    filter: drop-shadow(0px 0px 0.4vw #fff) drop-shadow(0px 0px 0.4vw #614ad3);
  }
  76%, 95% {
    filter: drop-shadow(0px 0px 0.8vw #fff) drop-shadow(0px 0px 0.8vw #614ad3);
  }
  96%, 100% {
    filter: drop-shadow(0px 0px 0.4vw #fff) drop-shadow(0px 0px 0.4vw #614ad3);
  }
}
@keyframes bougieeffect {
  0%, 50%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 0.8;
  }
}
@keyframes ampoule {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes ampouleeffect {
  0%, 50%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
@keyframes demilutin {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
@keyframes demilutineffect {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}
@keyframes lutin {
  0%, 50% {
    opacity: 1;
  }
  50.0001%, 100% {
    opacity: 0;
  }
}
@keyframes lutineffect {
  0%, 50% {
    opacity: 0;
  }
  50.0001%, 100% {
    opacity: 1;
  }
}
@keyframes bouncefleche {
  5% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-12%);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-6%);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-6%);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-3%);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-2.4%);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0%);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0%);
  }
}
.bodyntm {
  height: 200vh;
  background-image: url("/img/fondcatalogue.svg");
}
.bodyntm .headerneige {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.bodyntm .logo {
  position: absolute;
  z-index: 2;
  margin-left: 5%;
  margin-top: 1%;
  width: 15%;
}
.bodyntm .toggle {
  position: absolute;
  z-index: 3;
  margin-top: 1.5%;
  margin-left: 90%;
  width: 4.5vw;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.bodyntm .toggle:hover {
  transform: scale(1.1, 1.1);
}
.bodyntm .txtmenu {
  position: absolute;
  z-index: 3;
  font-family: "Pridi";
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  color: #E9861B;
  margin-top: 2%;
  margin-left: 83.5%;
}
.bodyntm #openmenu {
  font-size: 2vw;
}
.bodyntm #cataloguepdf {
  position: absolute;
  width: 65%;
  height: 146%;
  margin-top: 20%;
  margin-left: 17.85%;
  z-index: 10;
}

.mentionlegale {
  position: absolute;
  z-index: 10;
  width: 70%;
  margin-top: 15%;
  margin-left: 17%;
}
.mentionlegale h1 {
  font-family: "Home Christmas";
  font-size: 7vw;
  margin: 0;
  font-weight: 400;
  color: #564D45;
  text-align: center;
  margin-bottom: 5%;
}
.mentionlegale h3 {
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: rgb(35, 10, 10);
}
.mentionlegale section {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  color: #564D45;
}
.mentionlegale a {
  text-decoration: none;
  color: rgb(35, 10, 10);
}

/*# sourceMappingURL=style.css.map */
