.headershow{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 0%;
    z-index: 999;
    // transition: all ease-in-out 0.5s;
    #navcroix{
        width: 3vw;
        position: absolute;
        z-index: 5;
        margin-left: 92%;
        margin-top: 2%;
        cursor: pointer;
        line{
            stroke: #163A5B;
        }
    }
    
    a{
        margin-top: 1.5%;
        #navlogo{
            width: 100%;
            position: relative;        
        }
    }
    .full{
        @include fullpagediv;
        background-image: url('/img/fondheader.svg');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        ul{
            list-style: none;
            z-index: 1;
            text-align: center;
            margin-top: 16vw;
            li{
                transition: all ease-in-out .3s;
                &:not(:last-child) {
                    margin-bottom: 8vh;
                }
                &:hover{
                    transform: scale(1.1,1.1);
                }
                a{
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: 'Home Christmas';
                    font-size: 4.5vw;
                    margin: 0;
                    font-weight: 400;
                }
            }
        }
    }
}

.headershow1{
    transition: all ease-in-out 0.5s;
    height: 100% !important;
}