@mixin popup{
    height: 344px;
    width: 423.5px;
    border-radius: 28px;
}

@mixin flexendcolumn{
    display: flex;
    flex-direction: column;
    align-items: end;
}

@mixin flexfullcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullpage{
    position: relative;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
}