.bodyntm{
    height: 170vh;
    background-image: url('/img/fondcatalogue.svg');
    .headerneige{
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .logo{
        position: absolute;
        z-index: 2;
        margin-left: 5%;
        margin-top: 1%;
        width: 15%;
    }
    .toggle{
        position: absolute;
        z-index: 3;
        margin-top: 1.5%;
        margin-left: 90%;
        width: 4.5vw;
        cursor: pointer;
        transition: all ease-in-out .3s;
        &:hover{
            transform: scale(1.1,1.1);
        }
    }
    .txtmenu{
        position: absolute;
        z-index: 3;
        font-family: "Pridi";
        font-size: 2vw;
        font-style: normal;
        font-weight: 400;
        color: #E9861B;
        margin-top: 2%;
        margin-left: 83.5%;
    }
    .cadretitre{
        background-image: url(./../img/cadretitre.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        z-index: 10;
        left: 17.7%;
        top: 32%;
        width: 29%;
        height: 7%;
        h3{
            color: #564d45;
            position: relative;
            font-family: Playball;
            font-style: normal;
            font-weight: 400;
            top: -10%;
            left: 8%;
            font-size: 3.5vw;
            line-height: 1.5;
            margin: 0;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        }
    }
    .cadre{
        background-image: url(./../img/cadretitre1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        z-index: 10;
        left: 59.8%;
        top: 24%;
        width: 24%;
        height: 7%;
        p{
            font-family: "Pridi";
            font-style: normal;
            font-weight: 400;
            color: white;
            font-size: 0.9vw;
            width: 83%;
            position: relative;
            left: 6%;
            top: 9%;
        }
    }
    #openmenu{
        font-size: 2vw;
    }
    #cataloguepdf{
        position: absolute;
        width: 65%;
        height: 110%;
        margin-top: 19.69%;
        margin-left: 17.85%;
        z-index: 10;
    }
}