.popup420{
    @include fullpagediv;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.393);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 30%;
        height: 35%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        h3{
            font-family: 'Bitter';
            font-style: normal;
            font-weight: 700;
            color: #1F6129;
            width: 80%;
            font-size: 1.5vw;
            text-align: center;
            span{
                color: rgba(67, 116, 190, 1);
            }
            #orange{
                color: rgba(243, 144, 34, 1);
            }
        }
        p{
            width: 80%;
            font-size: .8vw;
            font-family: 'Bitter';
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.015em;
            color: #465049;
        }
        button{
            width: 22%;
            height: 15%;
            background: #F65A5A;
            border: 0;
            font-family: 'Bitter';
            font-style: normal;
            font-weight: 700;
            color: white;
            font-size: 1vw;
            transition: all ease-in-out .3s;
            &:hover{
                transform: scale(1.1,1.1)
            }
        }
    }
}
.piece{
    @include fullpagediv;
}
.piece1{
    background-image: url(/img/piece1.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .menu{
        position: absolute;
        width: 10vw;
        height: fit-content;
        transform: rotate(-23.97deg);
        margin-top: 42vh;
        margin-left: 4.6vw;
        text-align: center;
        cursor: pointer;
        z-index: 10;
        p{
            font-size: 3vw;
            font-family: "Pridi", serif;
            color: #162053;
            cursor: pointer;
            transition: all ease-in-out .3s;
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
    }
    .bignav420{
        font-size: 3vw !important;
    }
    #title{
        position: absolute;
        z-index: 5;
        width: 71vw;
        margin-left: 15.5vw;
        margin-top: 40vh;
        animation-name:glow;
        animation-duration:1s;
        animation-iteration-count:infinite;
        animation-direction:alternate;
    }
    #piece1ampoule{
        position: absolute;
        width: 9vw;
        margin-top: 41vh;
        margin-left: 4vw;
    }
    #piece1ampouleeffect{
        position: absolute;
        width: 9vw;
        margin-top: 41vh;
        margin-left: 4vw;
        z-index: 1;
        animation: ampouleeffect 3s ease 0s infinite normal forwards;
    }
}

.piece2{
    background-image: url(/img/piece2.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .piece2popup{
        position: absolute;
        z-index: 999;
        width: 20%;
        margin-top: 47vh;
        display: none;
        transition: all .4s;
        h3{
            position: absolute;
            font-family: "Bitter",serif;
            color: #2D6C27;
            font-style: normal;
            font-size: 1.4vw;
            font-weight: 700;
            margin-left: 51%;
        }
        svg{
            position: absolute;
            width: 3vw;
            margin-left: 65%;
            margin-top: 21%;
            animation: bouncefleche 2.5s ease-in-out 0s infinite normal forwards;
        }
        button{
            position: absolute;
            font-family: "Bitter",serif;
            background-color: #F65A5A;
            border: none;
            font-size: 1vw;
            width: 9vw;
            height: 4vh;
            margin-top: 42%;
            color: white;
            margin-left: 50%;
            transition: all ease-in-out 0.3s;
            &:hover{
                transform: scale(0.9,0.9);
            }
        }
        img{
            width: 100%;
            position:absolute;
        };
    }
    .ampoule{
        width: 100%;
        position: absolute
    }
    .bouffe{
        margin-top: 73.5vh;
        z-index: 2;
        position: absolute;
    }

    .lutin{
        z-index: 3;
        position: absolute;
    }
    #close{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        display: none;
    }
    #popupsable{
        margin-left: 19vw;
    }

    #popuptartine{
        margin-left: 28vw;
        h3{
            font-size: 1.3vw;
            margin-left: 49%;
        }
    }

    #popupflocon{
        margin-left: 38vw;
        h3{
            font-size: 1.3vw;
            margin-left: 46%;
        }
        svg{
            margin-left: 64%;
        }
    }

    #popuptruffe{
        margin-left: 45.5vw;
        h3{
            font-size: 1.25vw;
            margin-left: 46%;
        }
        svg{
            margin-left: 64%;
        }
    }

    #popuplivre{
        margin-top: 8vh;
        display: none;
        margin-left: 36vw;
        width: 22vw;
        button{
            margin-left: 31%;
            margin-top: 42%;
        }
        h3{
            margin-left: 5%;
            font-size: 1.1vw;
            span:nth-child(1){
                color:#109CEB;
            }
            span:nth-child(2){
                color:#EB9310;
            }
        }
        p{
            color: #465049;
            font-size: .8vw;
            font-family: "Bitter";
            font-style: normal;
            font-weight: 700;
            position: absolute;
            margin-top: 19%;
            text-align: center;
            padding: 0 5% 0 5%;
        }
    }

    #biscuit{
        width: 2vw;
        margin-left: 17.2vw;
        transform: rotate(45deg);
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.2,1.2) rotate(45deg);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }
    
    #tartine{
        margin-left: 25vw;
        width: 4vw;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.2,1.2);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }

    #flocon{
        margin-left: 34vw;
        width: 5vw;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.2,1.2);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }

    #truffe{
        margin-left: 43.5vw;
        width: 3vw;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.2,1.2);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }

    #ampouleeffect{
        z-index: 1;
        animation: ampouleeffect 3s ease 0s infinite normal forwards;
    }

    #livre{
        position: absolute;
        z-index: 5;
        margin: 36.5vh 0vw 0vh 37.8vw;
        width: 17.5vw;
        transition: all ease-in-out 0.1s;
        cursor: pointer;
        &:hover{
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }

    #demilutin{
        width: 4vw;
        margin-top: 51.9vh;
        margin-left: 26vw;
        animation: demilutin 2s linear 0s infinite normal forwards;
    }

    #demilutineffect{
        width: 4vw;
        margin-top: 51.9vh;
        margin-left: 26vw;
        animation: lutineffect 2s linear 0s infinite normal forwards;
    }
    #lutin{
        width: 5.5vw;
        margin-top: 65.1vh;
        margin-left: 87vw;
        animation: lutin 2s linear 0s infinite normal forwards;
    }

    #lutineffect{
        width: 5.5vw;
        margin-top: 65vh;
        margin-left: 87vw;
        animation: lutineffect 2s linear 0s infinite normal forwards;
    }

    #divbougie1{
        @include bougie;
        margin-left: 21.5vw;
    }

    #divbougie2{
        @include bougie;
        margin-left: 30.5vw;
        
    }

    #divbougie3{
        @include bougie;
        margin-left: 38.5vw;
    }
}

.bougie{
    width: 3vw;
}

.bougieeffect{
    position: absolute;
    margin-top: -16%;
    width: 1.5vw;
    animation: bougieeffect 3s ease 0s infinite normal forwards;
}

.piece4{
    background-color: yellow;
}


.piece3{
    background-image: url(/img/piece3.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .infinite-scroll{
        position: absolute;
        z-index: 2;
        margin-top: 72vh;
        margin-left: 57vw;
        width: 25vw;
        #cadeau1{
            width: 100%;
        }
    }
    .ampoule{
        position: absolute;
        width: 100%;
    }
    .lutin{
        z-index: 3;
        position: absolute;
    }
    .popuprecette3{
        position: absolute;
        width: 35vw;
        height: 45vh;
        background: linear-gradient(180deg, #A43835 0%, #6A150F 100%);
        border-radius: 1vw;
        z-index: 999;
        margin-top: 9%;
        margin-left: 18%;
        display: none;
        img{
            position: absolute;
            width: 40%;
            margin-top: 11%;
            margin-left: 8%;
        }
        span{
            position: absolute;
            display: flex;
            width: fit-content;
            height: fit-content;
            margin-left: 53%;
            margin-top: 5%;
            h3{
                font-family: "jsMath-cmti10";
                font-style: italic;
                font-weight: 500;
                font-size: 2.2vw;
                color: #ffb700;
                text-shadow: 0px 0.5vh 3.59246px rgb(0 0 0 / 35%);
                width: fit-content;
                &:first-child{
                    margin-right: 5%;
                }
            }
        }
        p{
            position: absolute;
            font-family: "Rounded Mplus 1c";
            font-style: normal;
            font-weight: 500;
            font-size: .9vw;
            width: 44%;
            color: snow;
            margin-top: 20%;
            margin-left: 53%;
            text-shadow: 0px 0.2vh 3.59246px rgb(0 0 0 / 25%);
        }
        button{
            position: absolute;
            width: 20%;
            height: 14%;
            margin-left: 70%;
            margin-top: 44%;
            font-family: 'Bitter';
            font-style: normal;
            font-weight: 800;
            font-size: 1.2vw;
            background: linear-gradient(180deg, #F6D98D 0%, #FFB700 100%);
            color: #731A15;
            border: 0;
            box-shadow: 0px 0.2vw 0.1vw rgb(0 0 0 / 35%);
            border-radius: 0.8vw;
            transition: all ease-in-out .3s;
            cursor: pointer;
            &:hover{
                transform: scale(1.1, 1.1);
            }
        }
        #neige1{
            position: absolute;
            width: 60%;
            margin-top: -5%;
            margin-left: -3.7%;
            z-index: 10;
        }
        #neige2{
            position: absolute;
            width: 37%;
            margin-top: 50%;
            margin-left: -4.3%;
            z-index: 10;
        }
        .croix{
            position: absolute;
            z-index: 10;
            margin-left: 93%;
            margin-top: 3%;
            width: 3%;
            height: fit-content;
            cursor: pointer;
        }
    }

    #close1{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        display: none;
    }
    
    #canard{
        position: absolute;
        width: 3.3vw;
        z-index: 99;
        margin-left: 29vw;
        margin-top: 76vh;
        cursor: pointer;
        transition: all ease-in-out .3s;
        &:hover{
            transform: scale(1.1,1.1);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }

    #fusee{
        position: absolute;
        width: 2.8vw;
        z-index: 99;
        margin-left: 23vw;
        margin-top: 73vh;
        cursor: pointer;
        transition: all ease-in-out .3s;
        &:hover{
            transform: scale(1.1,1.1);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }

    #nounours{
        position: absolute;
        width: 3.5vw;
        z-index: 99;
        margin-left: 19vw;
        margin-top: 69vh;
        cursor: pointer;
        transition: all ease-in-out .3s;
        &:hover{
            transform: scale(1.1,1.1);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
        }
    }

    #demilutin1{
        width: 5vw;
        margin-top: 57.3vh;
        margin-left: 29vw;
        animation: demilutin 2s linear 0s infinite normal forwards;
    }

    #demilutineffect1{
        width: 5vw;
        margin-top: 57.3vh;
        margin-left: 29vw;
        animation: lutineffect 2s linear 0s infinite normal forwards;
    }

    #demilutin2{
        width: 4.9vw;
        margin-top: 56.5vh;
        margin-left: 54vw;
        animation: demilutin 2s linear 0s infinite normal forwards;
    }

    #demilutineffect2{
        width: 4.9vw;
        margin-top: 56.5vh;
        margin-left: 54vw;
        animation: lutineffect 2s linear 0s infinite normal forwards;
    }

    #start{
        position: absolute;
        z-index: 5;
        margin-left: 91vw;
        margin-top: 79.2vh;
        width: 2.2vw;
        cursor: pointer;
    }
    #stop{
        position: absolute;
        z-index: 5;
        margin-left: 91vw;
        margin-top: 72.2vh;
        width: 2.2vw;
        cursor: pointer;
    }

    #entreecadeau{
        position: absolute;
        z-index: 10;
        margin-left: 55vw;
        margin-top: 71vh;
        width: 4vw;
    }
    #gifteffect{
        position: absolute;
        width: 16.8vw;
        opacity: 0;
        z-index: 5;
        margin-top: 50.9vh;
        margin-left: 59.5vw;
        transition: all ease-in-out .5s;
        cursor: pointer;
        &:hover{
            opacity: .80;
        }
    }
    #ampouleeffect{
        z-index: 1;
        animation: ampouleeffect 3s ease 0s infinite normal forwards;
    }
    #popuprecette3fusee{
        margin-left: 24%;
        margin-top: 10%;
    }
    #popuprecette3canard{
        margin-left: 30%;
        margin-top: 12%;
        button{
            margin-top: 49%;
        }
    }
}

.piece4{
    background-image: url(/img/piece4.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .ampoule{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #ampouleeffect{
        z-index: 1;
        animation: ampouleeffect 3s ease infinite;
    }
    #perenoel{
        position: absolute;
        z-index: 5;
        width: 16.5vw;
        margin-top: 49vh;
        margin-left: 38vw;
        transition: all ease-in-out .3s;
        &:hover{
            transform: scale(1.1,1.1);
            filter: drop-shadow(0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw 0.1vh 5px #F8FD00)
                    drop-shadow(-0.1vw -0.1vh 5px #F8FD00)
                    drop-shadow(0.1vw -0.1vh 5px #F8FD00);
            cursor: pointer;
        }
    }
}

@keyframes glow {
    0%{
        filter:none;
    }
    10%,
    50%{
        filter: drop-shadow(0px 0px 0.4vw #fff)
                drop-shadow(0px 0px 0.4vw #614ad3);
    }
    51%,
    70%{
        filter: drop-shadow(0px 0px 0.8vw #fff)
                drop-shadow(0px 0px 0.8vw #614ad3);
    }
    70%,
    75%{
        filter: drop-shadow(0px 0px 0.4vw #fff)
                drop-shadow(0px 0px 0.4vw #614ad3);
    }
    76%,
    95%{
        filter: drop-shadow(0px 0px 0.8vw #fff)
                drop-shadow(0px 0px 0.8vw #614ad3);
    }
    96%,
    100%{
        filter: drop-shadow(0px 0px 0.4vw #fff)
                drop-shadow(0px 0px 0.4vw #614ad3);
    }
}

@keyframes bougieeffect {
	0%,
	50%,
	100% {
		opacity: 0;
	}

	25%,
	75% {
		opacity: .8;
	}
}

@keyframes ampoule {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes ampouleeffect {
	0%,
	50%,
	100% {
		opacity: 0;
	}

	25%,
	75% {
		opacity: 1;
	}
}

@keyframes demilutin {
	0%,
	50% {
		opacity: 1;
	}

	51%,
	100% {
		opacity: 0;
	}
}

@keyframes demilutineffect {
	0%,
	50% {
		opacity: 0;
	}

	51%,
	100% {
		opacity: 1;
	}
}

@keyframes lutin{
	0%,
	50% {
		opacity: 1;
	}

	50.0001%,
	100% {
		opacity: 0;
	}
}

@keyframes lutineffect{
	0%,
	50% {
		opacity: 0;
	}

	50.0001%,
	100% {
		opacity: 1;
	}
}

@keyframes bouncefleche {
	5% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-12%);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-6%);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-6%);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-3%);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-2.4%);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0%);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0%);
	}
}