    body{
        main{
            .section-position {
                width: 2vw;
                height: 2vw;
                margin: 15%;
                border-radius: 50%;
                background-color: white;
            }
            
            .section-position-container {
                position: fixed;
                transform: translate(-50%, -50%);
                top: 50%;
                right: 1%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                z-index: 9;
            }

            .recette{
                @include fullpagediv;
                overflow: hidden;
            }
            #navpoint{
                position: fixed;
                right: 1.5vw;
                height: 15vh;
                z-index: 999;
                top: 42.5vh;
                circle:focus{
                    fill: #564D45 !important;
                }
            }
            @media only screen and (orientation:portrait) {
                #navpoint{
                    display: none;
                }
            }
            #recette1{
                background: linear-gradient(180deg, #4D45AC 0%, #231A89 100%);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 20% 1fr;
                h1{
                    font-family: 'Home Christmas';
                    font-size: 7vw;
                    margin: 0;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    display: inline-grid;
                    grid-row-start: 2;
                    grid-column: 1 / span 3;
                    align-self: center;
                    justify-self: center;
                }
                #logo{
                    display: inline-grid;
                    grid-column: 2;
                    grid-row: 3;
                    justify-self: center;
                    align-self: center;
                    width: 4vw;
                }
                #star-left{
                    display: inline-grid;
                    grid-row: 2;
                    grid-column: 1;
                    width: 30vw;
                    justify-self: end;
                    align-self: center;
                }
                #star-right{
                    display: inline-grid;
                    grid-column: 3;
                    grid-row: 1;
                    width: 18vw;
                    justify-self: start;
                    align-self: end;
                }
            }
            #recette2{
                background: rgba(212, 185, 161, 1);
                background-image: url(./../img/backgroundrecette2.png);
                display: grid;
                grid-template-columns: 1fr 45% 1fr;
                grid-template-rows: 60% 1fr;
                h2{
                    @include reccetteh2;
                    color: #564D45;
                    display: inline-grid;
                    justify-self: center;
                    align-self: start;
                    grid-column: 1 / span 3;
                    grid-row: 1;
                    top: 15%;
                    
                }
                .biscuit{
                    display: inline-grid;
                    position: relative;
                    justify-self: center;
                    align-self: center;
                    grid-column: 1;
                    grid-row: 1;
                    width: 65%;
                    top:5vh;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
                .recette2-txt{
                    display: inline-grid;
                    justify-self: center;
                    align-self: end;
                    grid-column: 2;
                    grid-row: 1;
                    width: 80%;
                    margin-left: 6%;
                    .cadretitre{
                        background-image: url(./../img/cadretitre.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: relative;
                        top: 14%;
                        left: -1%;
                        width: 40%;
                        height: 109%;
                        h3{
                            color: #564d45;
                            height: 70%;
                            @include recetteh3;
                            bottom: 12%;
                            left: 10%;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                        }
                    }
                    
                    .cadre{
                        width: 78%;
                        background-color: #ebd7c6;
                        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                        position: relative;
                        height: 120%;
                        left: -2%;
                        border-radius: $recetteangle;
                        bottom: -6%;
                        ul{
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.150));
                            color: #564D45;
                            position: relative;
                            font-family: Playball;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.35vw;
                            line-height: 1.5;
                            margin: 0px;
                            top: 5%;
                            left: 4%;
                        }
                    }

                }
                .recette2-txt2{
                    width: 77%;
                    display: inline-grid;
                    align-self: center;
                    justify-self: center;
                    grid-column: 1/span 3;
                    grid-row: 2;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    .cadretitre2{
                        left: 1%;
                        position: relative;
                        width: 100%;
                        bottom: 33%;
                        height: 113%;
                        background-image: url(./../img/cadretitre.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        h3{
                            color: #564d45;
                            @include recetteh3;
                            left: 2%;
                            bottom: 9%;
                        }
                    }
                    .cadre2{
                        height: 90%;
                        width: 100%;
                        position: relative;
                        bottom: 10%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-start;
                        background-color: #ebd7c6;
                        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                        border-radius: 2vw;
                        padding: 1%;
                        ol{
                            color: #564d45;
                            position: relative;
                            font-family: "Playball";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.3vw;
                            line-height: 1.2;
                            margin: 0;
                            left: 2%;
                            height: 18vh;
                            width: 100%;
                            li {
                                &:not(:last-child) {
                                    margin-bottom: 2%;
                                }
                            }
                        }
                        .recette2-0l1{
                            display: auto;
                        }
                        .recette2-0l2{
                            display: none;
                        }
                        #btnrecette2{
                            position: relative;
                            width: 7%;
                            right: 17%;
                            top: 50%;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                        #btnrecette2_1{
                            position: relative;
                            width: 7%;
                            right: 4%;
                            top: 50%;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                    }
                }
            }
            #recette3{
                background: #83b489;
                background-image: url(./../img/backgroundrecette3.svg);
                display: grid;
                grid-template-columns: 1fr 65%;
                grid-template-rows: 1fr 80%;
                h2{
                    @include reccetteh2;
                    color: #fbda86;
                    display: inline-grid;
                    justify-self: center;
                    align-self: center;
                    grid-column: 1 / span 3;
                    grid-row: 1;
                }
                #recette3-sapin{
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    display: inline-grid;
                    position: absolute;
                    width: 18vw;
                    height: 28vh;
                    margin-top: 4%;
                    margin-left: 15%;
                }
                .recette3-txt{
                    background-image: url(./../img/recette3-cadre1.svg);
                    background-repeat: no-repeat;
                    background-position: center top;
                    display: inline-grid;
                    grid-area: 2 / 2 / span 3 / auto;
                    position: relative;
                    place-self: center start;
                    height: 90%;
                    width: 60%;
                    left: 9%;
                    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
                    .recette3-txt1{
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        color: #fff;
                        width: 70%;
                        height: 70%;
                        position: relative;
                        font-family: "Playball";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.5vw;
                        line-height: 1;
                        margin: 0;
                        top: 12%;
                        left: 12%;
                        right: 12%;
                        padding-inline-start: 1.7vw;
                        .recette3-0l1{
                            display: auto;
                        }
                        .recette3-0l2{
                            display: none;
                        }
                        li{
                            margin-bottom: 5%;
                        }
                    }
                    
                    #recette3-txt-hide{
                        display: none;
                    }
                    #recette3-btn{
                        position: absolute;
                        width: 12%;
                        bottom: 14%;
                        right: 14%;
                    }
                    #recette3-btn_1{
                        position: absolute;
                        width: 12%;
                        bottom: 14%;
                        right: 29%;
                    }
                }
                .recette3-txt-left{
                    background-image: url(./../img/recette3-cadre2.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 37vw 71vh;
                    grid-column: 1;
                    grid-row: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    margin-top: 3%;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    .recette3-txt3{
                        width: 49%;
                        position: relative;
                        padding: 5% 7% 5% 7%;
                        height: fit-content;
                        transform: rotate(358deg);
                        h3{
                            margin: 0 0 5% 0;
                            color: #fff;
                            position: relative;
                            font-family: "Playball";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 2vw;
                            line-height: 1.5;
                        }
                        ul{
                            color: #fff;
                            position: relative;
                            font-family: "Playball";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.2vw;
                            line-height: 1.5;
                            margin: 0;
                            padding-inline-start: 1vw;
                        }
                    }
                }
            }
            #recette4{
                background: rgba(178, 227, 242, 1);
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows:60% 40%;
                .up{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    background-image: url(./../img/backgroundrecette4.svg);
                    background-repeat: no-repeat;
                    background-size:cover;
                    grid-column: 1;
                    grid-row: 1;
                    background-position: center top;
                    h2{
                        @include reccetteh2;
                        color: #ffffff;
                        display: inline-grid;
                        justify-self: center;
                        align-self: end;
                    }
                    .floco{
                        width: 70%;
                        grid-column: 1;
                        grid-row: 2;
                        display: inline-grid;
                        justify-self: center;
                        align-self: end;
                    }
                    .recette4-h3{
                        grid-area: 3 / 1 / auto / auto;
                        background-image: url(./../img/cadretitre.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        position: relative;
                        display: inline-grid;
                        width: 80%;
                        height: 53%;
                        place-self: end center;
                        h3{
                            color: rgb(86, 77, 69);
                            @include recetteh3;
                            text-align: center;
                            width: 100%;
                            bottom: 10%;
                        }
                    }
                    .igloo{
                        display: inline-grid;
                        grid-column: 2;
                        grid-row: 2/span 3;
                        justify-self: start;
                        align-self: end;
                        width: 85%;
                    }
                }
                .down{
                    grid-column: 1;
                    grid-row: 2;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    .recette4-txt{
                        background-color: #FAFAFA;
                        border-radius: $recetteangle;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        height: 85%;
                        width: 35%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        ul{
                            color: #564d45;
                            position: relative;
                            font-family: "Playball";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.6vw;
                            line-height: 1.5;
                            margin: 0;
                        }
                        ol{
                            color: #564d45;
                            position: relative;
                            font-family: "Playball";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.5vw;
                            line-height: 1.25;
                            margin: 0;
                            padding: 5%;
                            height: 79%;
                            width: 79%;
                            .recette4-0l1{
                                display: auto;
                            }
                            .recette4-0l2{
                                display: none;
                            }
                            li{
                                margin-bottom: 5%;
                                :last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .recette4-btn{
                        width: 5%;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                    .recette4-btn_1{
                        width: 5%;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                }
            }
            #recette5{
                background: rgba(223, 177, 136, 1);
                background-image: url(./../img/backgroundrecette5.svg);
                background-repeat: no-repeat;
                background-size: cover;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 20% 1fr;
                h2{
                    @include reccetteh2;
                    color: #ffffff;
                    display: inline-grid;
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: end;
                    align-self: end;
                }
                .ingredients{
                    width: 70%;
                    display: inline-grid;
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: end;
                    align-self: center;
                    #ingredientcadre{
                        width: 45%;
                        z-index: 5;
                    }
                    .jsp{
                        #recette5txt{
                            transition: all ease-in-out 0.3s;
                            background-color: #ffd773;
                            width: 0;
                            height: 14vw;
                            position: absolute;
                            margin: -15.6% 0% 0% 15%;
                            z-index: 0;
                            ul{
                                transition: all ease-in-out 0.3s;
                                transition-delay: .3s;
                                position: absolute;
                                margin: 3% 0% 0% 0%;
                                color: #564d45;
                                font-family: "Playball";
                                font-style: normal;
                                font-weight: 400;
                                font-size: 1.6vw;
                                line-height: 1.5;
                                display: none;
                            }
                        }
                        .recette5visible{
                            display: block !important;
                        }
                        .changewidth{
                            width: 18vw !important;
                        }
                        #recette5fleche{
                            transition: all ease-in-out 0.3s;
                            position: absolute;
                            height: 5.2vw;
                            margin: -11% 0% 0% 15.2%;
                        }
                        .btntranslate{
                            margin: -11% 0% 0% 32.8% !important;
                        }
                    }
                }
                .preparation{
                    width: 69%;
                    height: 72%;
                    display: inline-grid;
                    grid-column: 2;
                    grid-row: 2;
                    position: relative;
                    top: 10%;
                    justify-self: start;
                    align-self: start;
                    .recette5h3{
                        background-image: url(./../img/cadretitrerecette5.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        position: relative;
                        width: 45%;
                        top: -3%;
                        height: 110%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        
                        h3{
                            @include recetteh3;
                            color: #564D45;
                            top: -8%;
                        }
                    }
                    .txtprepa5{
                        width: 99%;
                        background-color: #fff;
                        border-radius: 2vw;
                        padding: 4%;
                        box-shadow: 1.5vw 3.5vh 0px 0px #ffd773;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        ol{
                            color: #564d45;
                            position: relative;
                            font-family: "Playball";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.6vw;
                            line-height: 1.5;
                            margin: 0;
                            li{
                                margin-bottom: 1%;
                                :last-child{
                                    margin-bottom: 0;
                                }
                            }
                        }
                        #recette5btn{
                            width: 14%;
                            position: relative;
                            left: 63%;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                        #recette5btn1{
                            width: 14%;
                            position: relative;
                            left: 67%;
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        }
                    }
                }
            }
        }
    }
::-webkit-scrollbar {
    display: none;
}
