.snap {
	width: 100vw;
	height: 100vh;
	margin: 0;
  top: 0;
  box-sizing: border-box;
	overflow: scroll;
	position: absolute;
  right: 0;
  &::-webkit-scrollbar{
    display: none;
  }

  .snap-element {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      background: #1d1e21;
    }
    &:nth-child(2) {
      background: #ee6620;
    }
    &:nth-child(3) {
      background: #777ba0;
    }
    &:nth-child(4) {
      background: #da1e62;
    }
  }
}